<!DOCTYPE html>
<html>
<head>
    <title>{{ article.title }}</title>
</head>
<body>
    <h1>{{ article.title }}</h1>
    <h2>Category: {{ article.category }}</h2>
    <h3>{{ article.entry }}</h3>
    <h3>Author:{{article.author}}</h3>
    <h3>Created On: {{ article.created_on }}</h3>
    <h3>Last Updated: {{ article.last_updated }}</h3>


    {% if article.headerImage %}
        <img src="{{ article.headerImage.url }}" style="max-width: 500px; height: auto;">
    {% else %}
        <p><em>No image available for this article.</em></p>
    {% endif %}

    {% if comment.article == article.title %}
    
        {% for comment in comments %}
            <h4>Comment from :{{ comment.author }}</h4>
            <h4>{{ comment.entry }}</h4>
        {% endfor %}
    {% else %}

    <p> No Comments yet.</p>   
    {% endif %}


    {% if user.is_authenticated %}
            <form method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        {{ form.as_p }}
            <button type="submit">Logout</button>
            </form>
    {% else %}
        <a href="{% url 'blog:login' %}">Login </a>
    {% endif %}

    {% if user.is_authenticated and user == article.author %}
    |   <a href="{% url 'blog:edit' pk=article.pk %}">Edit Article</a>
    {% endif %}
   
        
    <!-- IMPORTANT! To make sure that the right link gets displayed. Place the appname before the 
     field it must access! -->

    <h4>Comment from :{{ comment.author }}</h4>
    <h4>{{ comment.entry }}</h4>

    <h6><a href="{% url 'blog:article_list' %}">Back to Blog Articles</a></h6>
</body>
</html>
