<!DOCTYPE html>
<html>
<head>
    <title>{{ article.title }}</title>
</head>
<body>
    <h1>{{ article.title }}</h1>
    <h2>Category: {{ article.category }}</h2>
    <h3>{{ article.entry }}</h3>
    <h4>Created On: {{ article.created_on }}</h4>
    <h5>Last Updated: {{ article.last_updated }}</h5>

    <h2>{{article.headerImage}}</h2>
    <img src="{{ article.headerImage }}" alt="">

    {% if user.is_authenticated %}

    {% for comment in comments %}
    <h4>Comment from :{{ comment.author }}</h4>
    <h4>{{ comment.entry }}</h4>
    {% endfor %}   
    {% endif %}



    {% if user.is_authenticated %}
            <form method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        {{ form.as_p }}
            <button type="submit">Logout</button>
            </form>
    {% else %}
        <a href="{% url 'blog:login' %}">Login </a>
    {% endif %}

   
        
    <!-- IMPORTANT! To make sure that the right link gets displayed. Place the appname before the 
     field it must access! -->
    <h6><a href="{% url 'blog:article_list' %}">Back to Blog Articles</a></h6>
</body>
</html>
