<!DOCTYPE html>
<html>
<head>
    <title>{{ article.title }}</title>
</head>
<body>
    <h1>{{ article.title }}</h1>
    <h2>Category: {{ article.category }}</h2>
    <h3>{{ article.entry }}</h3>
    <h3>Created On: {{ article.created_on }}</h3>
    <h3>Last Updated: {{ article.last_updated }}</h3>
    <!-- IMPORTANT! To make sure that the right link gets displayed. Place the appname before the 
     field it must access! -->

    <h4>Comment from :{{ comment.author }}</h4>
    <h4>{{ comment.entry }}</h4>

    <h6><a href="{% url 'blog:article_list' %}">Back to Blog Articles</a></h6>
</body>
</html>
