{% extends 'homepage.html' %}

{% block title %}My Cart | Merch Store{% endblock %}

{% block content %}
  <h2>My Cart</h2>

  {% if grouped_transactions %}
    {% for seller, transactions in grouped_transactions %}
      <h3>Seller: {{ seller.user.profile.display_name }}</h3>
      <ul>
        {% for trans in transactions %}
          <li>
            {{ trans.product.name }} – ₱{{ trans.product.price }} × {{ trans.amount }}
          </li>
        {% endfor %}
      </ul>
    {% endfor %}

    <form action="{% url 'merchstore:checkout' %}" method="post">
      {% csrf_token %}
      <button type="submit">Buy All Items</button>
    </form>

  {% else %}
    <p>Your cart is empty.</p>
  {% endif %}
{% endblock %}

